* {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr;
}

header {
  background-color: red;
  color: white;
  display: grid;
  justify-content: center;
}

.gallery {
  height: auto;
  background-color: #b3b3b3;
  position: relative;
}

footer {
  background-color: rgb(131, 131, 131);
}

.category-buttons {
  height: 95vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-columns: 1fr;
  align-items: center;
  padding: 0 10rem;
}

.category-buttons button {
  justify-self: center;
  height: 25vh;
  width: 20vw;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  background-repeat: no-repeat;
  transition: opacity ease-in-out;
  transition: scale ease-in-out 0.3;
}

.category-buttons button:hover {
  transform: scale(1.2);
  opacity: 0.5;
}

.all-button {
  background-image: url(./images/chicken1.jpg), url(./images/tomato1.jpg);
  background-size: 50% 100%;
  background-position: left, right;
}

.animals-button {
  background-image: url(./images/cat5.jpg), url(./images/dog6.jpg);
  background-position: left, right;
  background-size: 50%, 100%;
}

.plants-button {
  background-image: url(./images/tomato2.jpg), url(./images/eggplant1.jpg);
  background-position: left, right;
  background-size: 50%, 100%;
}

.all-animals-button {
  display: none;
  background-image: url(./images/dog2.jpg), url(./images/chicken4.jpg),
    url(./images/cat3.jpg);
  background-position: left, center, right;
  background-size: 34% 100%, 34% 100%, 34% 100%;
  background-color: rgb(34, 34, 34);
}

.cat-button {
  display: none;
  background-image: url(./images/cat4.jpg);
  background-size: contain;
  background-position: center;
  background-color: rgb(34, 34, 34);
}

.dog-button {
  display: none;
  background-image: url(./images/dog4.jpg);
  background-size: contain;
  background-position: center;
  background-color: rgb(34, 34, 34);
}

.hen-button {
  display: none;
  background-image: url(./images/chicken3.jpg);
  background-size: contain;
  background-position: center;
  background-color: rgb(34, 34, 34);
}

.all-plants-button {
  display: none;
  background-image: url(./images/tomato1.jpg), url(./images/eggplant5.jpg);
  background-position: left, right;
  background-size: 50% 100%, 50% 100%;
  background-color: rgb(34, 34, 34);
}

.tomato-button {
  display: none;
  background-image: url(./images/tomato4.jpg);
  background-size: contain;
  background-position: center;
  background-color: rgb(34, 34, 34);
}

.eggplant-button {
  background-image: url(./images/eggplant4.jpg);
  background-size: contain;
  background-position: center;
  background-color: rgb(34, 34, 34);
}

.all {
  display: none;
}

.galleries {
  background-color: #b3b3b3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  position: relative;
}

.galleries .img-wrapper {
  width: 20vw;
  height: 20vh;
  background-color: rgb(32, 32, 32);
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  display: none;
}
.galleries img {
  width: auto;
  height: 20vh;
  z-index: 0;
}

.galleries .img-wrapper:hover {
  opacity: 0.7;
  z-index: 0;
}

.back-button,
.back-button2 {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  border: none;
  padding: 0.2rem;
  border-radius: 1rem;
  color: white;
  background-color: rgb(61, 61, 61);
  display: none;
}

.back-button:hover,
.back-button2:hover {
  background-color: rgb(85, 85, 85);
  cursor: pointer;
}

.back-button:active,
.back-button2:active {
  background-color: rgb(145, 145, 145);
}

.lightroom {
  position: absolute;
  background-color: rgb(32, 32, 32);
  width: 70vw;
  height: 70vh;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: none;
  display: none;
  z-index: 1;
}

.lightroom button {
  position: absolute;
  z-index: 1;
}

.lightroom img {
  height: 70vh;
  width: auto;
  margin: 0;
  justify-self: center;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  background-color: rgb(32, 32, 32);
  color: white;
  font-size: 1.2rem;
  font-weight: 900;
}

.close:hover {
  background-color: rgb(51, 51, 51);
}

.previous {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 10%;
  background-color: rgb(32, 32, 32);
  color: white;
  font-size: 1.5rem;
  border: none;
}

.previous:hover {
  background-color: rgb(51, 51, 51);
}

.next {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  width: 10%;
  background-color: rgb(32, 32, 32);
  color: white;
  font-size: 1.5rem;
  border: none;
}

.next:hover {
  background-color: rgb(51, 51, 51);
}
